/*
***************************************************
//////////////// Defaults & Resets ////////////////
***************************************************
*/

body {
  color: #fff !important;
  background-color: #131519 !important;
}

.container {
  min-width: 1600px;
}

/*
***************************************************
///////////////// Section Styles //////////////////
***************************************************
*/

#header {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #131519;
}

#chart {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #181a20;
}
