/*
***************************************************
//////////////// Defaults & Resets ////////////////
***************************************************
*/

body {
  color: #fff !important;
  background-color: #131519 !important;
}

.container {
  min-width: 1600px;
}

/*
***************************************************
///////////////// Section Styles //////////////////
***************************************************
*/

#header {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #131519;
}

#chart {
  height: 45rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #181a20;
  box-shadow: 1px 1px 28px 0px rgba(0, 0, 0, 0.31);
  -webkit-box-shadow: 1px 1px 28px 0px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 1px 1px 28px 0px rgba(0, 0, 0, 0.31);
}
